#navbar {
	display: block;
	width: 980px;
	margin: auto;
	height: 36px;
	background-color: yellow;
}
#navbar ul li {
	display: inline;
	list-style: none;
}

#navbar ul li a {
	display: inline-block;
}